
.btn {
  display: inline-block;
  vertical-align: top;
  height: 55px;
  padding: 0 36px;
  border: 2px solid transparent;
  border-radius: 30px;
  background: $main-brown-color;
  font-size: 12px;
  letter-spacing: 4px;
  color: $main-white-color;
  line-height: 53px;
  text-transform: uppercase;
  @include main-font7();
  @include transition(all, .3, 0);

  &:hover {
    background: transparent;
    border-color: $main-brown-color;
    color: $main-brown-color;
  }

  &_2 {
    background: $main-white-color;
    color: #333;

    &:hover {
      border-color: $main-white-color;
      color: $main-white-color;
    }
  }
  &_3 {
    background: transparent;
    border-color: #e6cab4;

    &:hover {
      background: transparent;
      border-color: #e6cab4;
      color: $main-white-color;
    }
  }
}

@media (min-width: $tablet-portrait) {


}

@media (min-width: $desktop-wide) {


}
