$main-brown-color: #b28e7b;
$main-title-color: #000;
$main-text-color: #999;
$main-white-color: #fff;
$main-border-color: #ddd;

//site
$site-background: #fff;
$header-menu-color: #fff;
$header-menu-active-color: #e6cab4;
$header-menu-back: $main-brown-color;
$header-menu-btn-back: #fff;
$header-menu-btn-opened: #fff;
$footer-bg: #333;
$footer-text-color: #999;
$footer-crafted-color: #5c5c5c;
$footer-title-color: #e6cab4;
$hero-title-color: #e6cab4;

/*---------- popup ----------*/
$popup-back: rgba( 255, 255, 255, .98 );
$popup-close-back: #000;
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #ddd;
$websters-select-opened: #2a2b76;
$websters-select-back: #fff;
$websters-select-item-color: #bbb;
$websters-select-popup-item-active-color: #bbb;
/*---------- /websters-select ---------*/

/*---------- btn ----------*/
$btn-back: #fff;
$btn-hover-back: #e6cab4;
$btn-2-color: #333;
$btn-3-border-color: #e6cab4;

/*---------- /btn ---------*/


/*---------- nice-checkbox ----------*/
$nice-checkbox-color: #bbb;
$nice-checkbox-active-color: #1d242d;
/*---------- /nice-checkbox ---------*/

/*---------- language ----------*/
$language-border-color: #e6cab4;
$language-hover-color: #e6cab4;
/*---------- /language ---------*/

/*---------- language ----------*/
$language-border-color: #e6cab4;
$language-hover-color: #e6cab4;
/*---------- /language ---------*/

/*---------- lour-list----------*/
$our-list-title-color: #e6cab4;
$our-list-hover-color: #f9f9f9;
/*---------- /our-list ---------*/

/*---------- lmission----------*/
$mission-title-color: #e6cab4;
$mission-info-bg: #f9f9f9;
$mission-info-border: #e6cab4;
/*---------- /mission ---------*/

/*---------- contact ----------*/
$contact-text-deco: #e6cab4;
$contact-streamer-bg: #f9f9f9;
$contact-contact-border: #e6cab4;
$contact-form-title: #e6cab4;
$contact-field-placeholder-color: #bbb;
$contact-field-focus: #e6cab4;
/*---------- /contact ---------*/

