
.contact {

  &__address {
    padding: 40px 0;
  }
  &__address-text {

    p {
      position: relative;
      max-width: 500px;
      padding-bottom: 32px;
      margin-bottom: 35px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.5px;
      color: $main-brown-color;
      @include main-font5();

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 60px;
        background: $contact-text-deco;
        content: '';
      }
    }
  }
  &__address-contacts {

  }
  &__address-inner {
    position: relative;
    z-index: 3;
    padding: 30px 20px 10px;
    border-top: 3px solid $contact-contact-border;
    box-shadow: 0 10px 20px 0 rgba(178, 142, 123, 0.1);
    background: $main-white-color;
    @include main-font4();

    address {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.5px;
      white-space: pre-line;
      color: $main-text-color;
      font-style: normal;
    }
  }
  &__address-list {

    li {
      margin-bottom: 26px;
      padding-left: 45px;

      a {
        position: relative;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.6px;

        &:before {
          @include absoluteCenterY();
          left: -45px;
          background-image: url('../img/contact_sprite.png');
          background-size: 75px 26px;
          content: '';
        }

        &.contact__address-phone {
          color: $main-text-color;
          cursor: default;

          &:before {
            width: 26px;
            height: 26px;
            background-position: top right;
          }
        }
        &.contact__address-email {
          color: $main-brown-color;

          &:before {
            left: -47px;
            width: 32px;
            height: 22px;
            background-position: top left;
          }
          &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: $main-brown-color;
            @include transition(width, .3, 0);
            content: '';
          }
          &:hover {

            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__address-title {
    display: block;
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.6px;
    color: $main-brown-color;
    @include main-font8();
  }
  &__streamer {
    padding: 40px 0;
    background: $contact-streamer-bg;

    p {
      margin-bottom: 39px;
      max-width: 600px;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.5px;
      @include main-font4();
    }
    span {
      display: block;
      max-width: 600px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.2px;
      color: $main-brown-color;
      @include main-font5();
    }
  }
  &__form {
    padding: 40px 0;

    fieldset {
      width: 100%;
      white-space: normal;

      input,
      textarea {
        overflow: hidden;
        width: 100%;
        height: 56px;
        margin-bottom: 20px;
        padding: 16px 20px;
        border: 1px solid $main-border-color;
        border-radius: 5px;
        box-shadow: inset 0 1px 3px 0 rgba(1, 1, 1, 0.1);
        font-size: 16px;
        line-height: 20px;
        color: $main-brown-color;
        font-family: Verdana, sans-serif;
        @include transition(all, .3, 0);

        &::-webkit-input-placeholder {
          color: $contact-field-placeholder-color;
          @include transition(color, .3, 0)
        }
        &:-moz-placeholder {
          color: $contact-field-placeholder-color;
          @include transition(color, .3, 0)
        }
        &.placeholder {
          color: $contact-field-placeholder-color;
          @include transition(color, .3, 0)
        }

        &:focus {
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          border-color: $contact-field-focus;

          &::-webkit-input-placeholder {
            color: transparent;
          }
          &:-moz-placeholder {
            color: transparent;
          }
          &.placeholder {
            color: transparent;
          }
        }
      }
      textarea {
        padding: 16px 20px;
      }
      textarea {
        height: 208px;
      }
      button {
        height: 56px;
        width: 100%;
        background: $main-brown-color;
        border-radius: 5px;
        border: none;
        padding: 0;
        box-shadow: none;
        font-size: 16px;
        line-height: 26px;
        color: $main-white-color;
        font-family: Verdana, sans-serif;
        font-weight: 700;
        @include transition(background, .3, 0);

        &:hover {
          background: $btn-hover-back;
        }
      }
    }
  }
  &__form-title {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 37px;
    color: $contact-form-title;
    text-align: center;
    white-space: normal;
    @include main-font5();

    span {
      display: block;
      font-size: 32px;
      color: $main-brown-color;
      @include main-font8();
    }
  }
}

@media (min-width: $tablet-portrait) {

  .contact {

    &__address-text {
      margin-left: 1px;

      p {
        max-width: 50%;
      }
    }
    &__address-contacts {
      position: absolute;
      z-index: 2;
      top: 8px;
      right: 15px;
      width: 355px;

      &:before,
      &:after {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        border: 1px solid;
        content: '';
      }
      &:before {
        margin-top: -210px;
        margin-left: -210px;
        width: 420px;
        height: 420px;
        border-color: rgba(230,202,180, .6);
      }
      &:after {
        margin-top: -240px;
        margin-left: -240px;
        width: 480px;
        height: 480px;
        border-color: rgba(230,202,180, .3);
      }
      &.animation {

        .contact__address-circle {
          border-color: #e6cab4;
          animation: circles 3s infinite;
        }
        &:before {
          animation: circles 3s infinite .5s;
        }
        &:after {
          animation: circles 3s infinite .9s;
        }
      }
    }
    &__address-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 360px;
      height: 360px;
      margin-top: -180px;
      margin-left: -180px;
      border: 1px solid transparent;
      border-radius: 50%;
    }
    &__streamer {
      padding: 114px 0;
    }
    &__form {

      fieldset {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-right: 2%;

        &:nth-child(1),
        &:nth-child(2){
          width: 48.6%;
        }
        &:nth-child(2) {
          margin-right: 0;
        }
        &:nth-child(3) {
          width: 100%;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: $tablet-landscape) {

}

@media (min-width: $desktop) {

  .contact {

    &__address {
      padding: 112px 0 100px;
    }
    &__address-text {

      p {
        max-width: 500px;
        font-size: 30px;
        line-height: 40px;
      }
    }
    &__address-contacts {
      width: 470px;
    }
    &__address-inner {
      padding: 55px 59px 31px;

      address {
        margin-bottom: 48px;
      }
    }
    &__address-list {

      li {

        a {
          font-size: 24px;
          line-height: 26px;
        }
      }
    }
    &__streamer {
      padding: 114px 0 107px 3px;

      span {
        font-size: 30px;
        line-height: 40px;
      }
    }
    &__form {
      padding: 108px 0 97px 4px;
      white-space: nowrap;

      fieldset {
        margin-right: 26px;
        white-space: normal;

        &:nth-child(1) {
          width: 370px;
        }
        &:nth-child(2) {
          width: 570px;
          margin-right: 26px;
        }
        &:nth-child(3) {
          width: 170px;
        }
        button {
          height: 208px;
        }
      }
    }
    &__form-title {
      margin-bottom: 75px;
      font-size: 24px;
      line-height: 43px;

      span {
        font-size: 36px;
      }
    }
  }

}
