.site {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  @include main-font2();
  color: $main-text-color;

  &__header {
    z-index: 4;
    height: 50px;

    &-layout {
      position: relative;
      padding: 0 15px;
      max-width: 1650px;
      margin: 0 auto;
    }
  }
  &__menu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 80px 15px;
    background: $header-menu-back;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    @include transform-translate( 100%, 0);
    @include transition(all, .3, 0);

    &.opened {
      @include transform-translate( 0, 0);
    }

    &-item {
      display: block;
      position: relative;
      margin: 0 auto 15px;
      @include main-font4();

      a {
        font-size: 16px;
        color: $header-menu-color;

        &.active {
          border-bottom: 2px solid $header-menu-active-color;
          cursor: default;
        }
      }
    }
  }
  &__menu-btn {
    display: block;
    position: absolute;
    z-index: 11;
    top: 13px;
    right: 12px;
    width: 40px;
    height: 25px;
    padding: 0;
    background: none;
    border: none;
    user-select: none;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      top: 11px;
      left: 5px;
      right: 5px;
      height: 3px;
      background: $main-brown-color;
      font-size: 0;
      -webkit-transition: background .3s;
      transition: background .3s;

      &:before,
      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-brown-color;
        content: '';
        transition-duration: .3s, .3s;
        transition-delay: .3s, 0.001s;
      }
      &:before {
        top: -9px;
        transition-property: top, transform, background;
      }
      &:after {
        bottom: -9px;
        transition-property: bottom, transform, background;
      }
    }
    &.opened {

      span {
        background: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }

        &:before,
        &:after {
          background: $header-menu-btn-opened;
          transition-delay: 0.001s, 0.3s;
        }
      }
    }
    &_white {

      span {
        background: $main-white-color;

        &:before,
        &:after {
          background: $main-white-color;
        }
      }
    }
  }
  &__footer {
    padding: 20px 0;
    background: $footer-bg;
    text-align: center;

    &-layout {
      position: relative;
      max-width: 1650px;
      padding: 0 15px;
      margin: 0 auto;
    }
    &-services {

      &-title {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 26px;
        color: $main-white-color;
        @include  main-font5();
        letter-spacing: -1.9px;

        span {
          @include main-font8();
          color: $footer-title-color;
          letter-spacing: -1.8px;
        }
      }

      > div {

        .btn {
          display: inline-block;
          height: 45px;
          line-height: 43px;
          margin: 0 10px 15px;
          padding: 0 15px;
        }
      }
    }
    &-bottom {
      font-size: 10px;
      line-height: 26px;
      letter-spacing: 2.9px;
      color: $footer-crafted-color;
      text-transform: uppercase;
      @include main-font7();

      a {
        position: relative;
        color: $main-white-color;

        &:after {
          opacity: 0;
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 1px;
          width: 100%;
          background: $main-white-color;
          -webkit-transition: opacity .2s, bottom .2s;
          transition: opacity .2s, bottom .2s;
          content: '';
        }
        &:hover {

          &:after {
            opacity: 1;
            bottom: 0;
          }
        }
      }
    }
    &-crafted {

    }
    &-copyrights {

    }
  }
  &__hero {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 227px;
    background-size: cover;
    background-position: center;
  }
  &__hero-wrap {
    position: relative;
    max-width: 1650px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__hero-partner {
    padding: 60px 0;

    h1 {

      margin-bottom: 35px;
      color: $main-white-color;
      font-size: 25px;
      line-height: 37px;
      letter-spacing: -1.8px;
      @include  main-font5();

      span {
        display: block;
        font-size: 38px;
        letter-spacing: -2.3px;
        @include  main-font8()
      }
    }
  }
  &__centered {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding: 0 13px;
    margin: 0 auto;

    &_wide {
      max-width: 1650px;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
  }
}

@media (min-width: $tablet-portrait) {

  .site {

    &__hero-wrap {
      height: 325px;
    }
    &__hero-partner {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center;
      width: 40%;
      padding: 10px 0 0;

      h1 {
        font-size: 32px;
        line-height: 45px;

        span {
          font-size: 40px;
        }
      }
    }

  }

}
@media (min-width: $tablet-landscape) {
  .site {


  }
}
@media (min-width: $desktop) {
  .site {

    &:after {
      display: block;
      width: 100%;
      height: 342px;
      clear: both;
      content: '';
    }
    &__header {
      height: 160px;
      @include transition(all, .3, 0);
    }
    &__content {

    }
    &__menu {
      position: relative;
      top: 64px;
      left: auto;
      height: auto;
      padding: 0 0;
      text-align: right;
      background: transparent;
      transform: translate(0, 0);

      &-wrap {
        position: relative;
        top: -2px;
        display: inline-block;
        margin-right: 3.5%;
        text-align: right;
      }
      .site__menu-item {
        vertical-align: top;
        display: inline-block;
        margin-right: 57.4px;

        &:last-child {
          margin-right: 0;
        }
        a {
          vertical-align: top;
          display: inline-block;
          font-size: 18px;
          line-height: 36px;
          letter-spacing: 0.1px;
          color: $main-brown-color;
          @include transition(color, .3, 0);

          &:hover,
          &.active {
            color: $header-menu-active-color;
            border-bottom: none;
          }
        }
      }
    }
    &__menu-btn {
      display: none;
    }
    &__footer {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      left: 0;
      height: 342px;
      padding-top: 86px;

      &-services {
        margin-bottom: 124px;

        &-title {
          display: inline-block;
          font-size: 36px;
        }

        > div {
          position: relative;
          top: -6px;
          right: -3px;
          display: inline-block;

          .btn {
            height: 55px;
            margin: 0 0 0 16px;
            padding: 0 36px;
            line-height: 53px;
          }
        }
      }
      &-bottom,
      &-services{
        display: flex;
        justify-content: space-between;
      }
      &-crafted {
        display: inline-block;
        text-align: left;
      }
      &-copyrights {
        display: inline-block;
        text-align: left;

        span {
          margin-right: 32px;
        }
      }
    }
    &__hero {
      height: 560px;
    }
    &__hero-wrap {
      height: 560px;
    }
    &__hero-partner {
      width: 611px;

      h1 {
        font-size: 47px;
        line-height: 59px;

        span {
          font-size: 70px;
        }
      }
    }
  }
}
@media (min-width: $desktop-wide) {

}

